<div>
  <h2>Add an Article!</h2>
</div>
<div>
  <form [formGroup]="articleRef">
    <label>Article Id</label> <br />
    <input type="text" formControlName="id" [readonly]="idVar" /> <br />
    <label>Article Title</label> <br />
    <input type="text" formControlName="title" /> <br />
    <label>Article Content</label> <br />
    <input type="text" formControlName="text" /> <br />
    <input
      type="submit"
      [value]="buttonValue"
      class="btn btn-info"
      (click)="storeArticle()"
    />
    <input type="reset" value="Reset" class="btn btn-dark" />
  </form>
  <br />
  {{ resultMessage }}
  <br />
  <hr />
  <div>
    <div *ngFor="let article of articles">
      <span>{{ article.id }}</span>
      <h5>{{ article.title }}</h5>
      <p>{{ article.text }}</p>
      <input
        type="button"
        value="Delete"
        class="btn btn-danger"
        (click)="deleteArticle(article.id)"
      />
      <input
        type="button"
        value="Edit"
        class="btn btn-dark"
        (click)="editArticle(article)"
      />
    </div>
  </div>
</div>
